*{margin: 0;
    padding: 0;
}


body{
    background-color: burlywood;
    background-size: cover;
}

.headder .head{
    margin-top: 5px;
    background-color: black;
    text-shadow: 2px 2px 5px red;
    height: 215px;
    position: relative;
    width: 100%;

}

.headder .head img{
    padding: 5px 0px 0px 133px;
    position: absolute;
}

.headder .head h1{
    position: relative;
    text-align: center;
    color: #ffd700;
    padding: 30px 0px 25px 10px;
    /* font-family: Trattatello, fantasy; */
    letter-spacing: 6px;
}

.headder .head h3{
    position: relative;
    text-align: center;
    padding-left: 30px;
    font-size: 15px;
    color: #ffd700;
    letter-spacing: 3px;

}
.headder .head p{
    position: relative;
    text-align: center;
    color: #ffd700;
    padding-left: 53px;
    letter-spacing: 1px;
    
}

.aboutus h1{
    text-align: center;
    color: red;
    background-color: #ffd700;
    padding-top: 4px;
    text-shadow: 2px 2px 5px black;
    padding: 5px 40px 5px 0px;
}

.aboutus h3 p{
    text-align: center;
    padding-bottom: 10px;
    padding: 5px 5px 5px 5px;
}

.aboutus h2{
    text-align: center;
    padding-top: 4px;
    padding: 5px 5px 5px 5px;
}

/* ul .back{
    text-align: center;
    padding: 0px 40px 0px 0px;
    text-decoration: none;
    color: #ffd700;    
    background-color: aqua;
}
ul li .back a{
    text-decoration: none;
}

.back ul li a{
    text-decoration: none;
} */

.back .backbutton ul li a{
    text-decoration: none;
    color: white;
    background-color: rgb(129, 82, 170);
    border-radius: 5px;
    padding: 25px 15px 30px 15px;
    text-align: center;

    
}
.back .backbutton{
    padding: 50px 55px 6px 6px;
    text-align: center;
}